*{
    margin: 10;
    padding: 5;
    box-sizing: border-box;
    color:#2A2D34;
    font-family: Montserrat,sans-serif;
}

#col-1 {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
 
  z-index: 1010101010
}

#col-2 {
  margin-top: 0;
  position: relative;
  width: 50%;
  left: 50%;
  height: 100%;
  background-color: #D8D8D8;
  margin-right: 150px;

  z-index: 1010101010
}

ul{
 list-style-type: none;
 margin:0;
}

ul li {
  display: inline-block;
  margin:0;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 150%;
 
  background-color: #A4A4A4;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=send] {
  background-color: #585858;
  color: white;
  padding: 20px 20px;
  width: 150%;
  text-align: center;
  border: none;
  cursor: pointer;
}

input[type=send]:hover {
  background-color: #45a049;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=send] {
    width: 100%;
    margin-top: 0;
  }
}