*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Montserrat;
    color:#2A2D34;
  }


header{
   
    height: fit-content;
    display: flex;
    background-color: #8458B3;
}

#top{
    background-color: #8458B3;
    float: left;
    padding: 5px 5px 5px 90px;
    width: fit-content;
    font-size: small;
    display: flex;
    

}
#right-top{
    background-color: #8458B3;
    text-align: right;
    float: right;
    padding-top: 5px;
    width: fit-content;
    font-size: small;
    flex: 1;

}

#rheader ul{
    background-color: #8458B3;
    padding-right: 190px;
}
#rheader ul li{
    background-color: #8458B3;
    list-style: none;
    display: inline;

}

ul li{
    list-style: none;
    display: inline;
    padding-right: 12px;
}
a{
    text-decoration: none;
}

section{
    background-color: #8458B3;
    display: flex;
    font-size: smaller;
    height: 50px;       
    
}

#left-bottom{
    padding: 10px 40px 5px 90px;

    display: flex;
}
nav{
  
    padding-top: 10px;
    padding-left: 60px;
    justify-content: space-between;
    padding-right: 40px;
    width: 500px;
    
}
.button {
    background-color:  #A28089; /* Green */
    border: none;
    color:#2A2D34;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Montserrat,sans-serif
    
  }
  .btn{
      padding-left: 60px;
  }

  article{
    height: 430px;
    display: flex;
    flex-direction: row;
  }
  .larticle{
    height: 420px;
    padding: 10px 10px 10px 5px;
    width: fit-content;
  }

 .aboutus{
     padding-right: 10px;
 }
  .rarticle{
      height: 420px;
      padding: 80px 30px 80px 50px;
  }

  .rarticle h1{
    line-height: 35px;
  }

  .rarticle p{
      line-height: 20px;
  }
  .barticle{
      display: flex;
  }

footer{
 
    background-color: #444554;
    height: 150px;
    display: flex;
  }

#upperfooter{
    height: 70px;
    display: flex;
}

.ufooter{
    width: 50%;
}
#fvms{
    
    padding: 40px 40px 5px 90px;
    display: flex;
    width: fit-content;
    height: 70px;
    font-size: medium;
}

.bfooter nav{
    
    text-align: right;
    float: right;
    font-size: small;
    flex: 1;
    height: 70px;
    padding-right: 190px;
    padding-left: 80px;
    width: 900px;
    padding-top: 40px;
}

hr{
    border: 1px;
    color: black;
}

@media screen and (max-width: 1024 px){
    article{
        flex-direction: column;
    }
}

.fl_left{
    float:left;
    background-color:#444554;
    font-size:0.6em;
    
}

.fl_right{
    float:right;
    background-color:#444554;
    font-size:0.6em;
    
}.fl_left{
    float:left;
    background-color:#444554;
    font-size:0.6em;
    
}

.fl_right{
    float:right;
    background-color:#444554;
    font-size:0.6em;
    
}

